<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon class="text-white" name="home-outline"></ion-icon>
      <ion-label class="text-white">home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon class="text-white" name="bowling-ball-outline"></ion-icon>
      <ion-label class="text-white">earn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon class="text-white" name="bag-outline"></ion-icon>
      <ion-label class="text-white">shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon class="text-white" name="person-circle"></ion-icon>
      <ion-label class="text-white">me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>