<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-white">Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <span>
          <ion-icon name="chevron-back-outline" class="pt-2"></ion-icon> &nbsp;Order Overview:
        </span>
      </div>
      <!-- Description start -->
      <div class="col-12">
        <h3 class="mb-0"><b>LINKIT Hoodie</b></h3>
      </div>
      <div class="col-12 d-flex">
        <p class="mt-0" (click)="presentSizeModal()">SIZE: M</p>
        <h3 class="right-arrow my-auto"><b>5 points</b></h3>
      </div>
      <div class="col-12 my-3">
        <p>You can pick your hoodie at the office. We'll let you know when it's ready for you!</p>
      </div>
      <div class="col-12 confirm-button">
        <ion-button class="mb-2" expand="block" color="primary">Confirm</ion-button>
      </div>
      <!-- Description end -->
    </div>
  </div>
</ion-content>