<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Show Some Love</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <p class="font-22">Yeah sorry, this hasn't been designed yet.</p> <br>
        <p class="font-22">What do you think of sending points snonymously though?</p> <br>
        <p class="font-22">And what about adding a message to your generous donation?</p>
      </div>

      <div class="col-12 text-center close-btn">
        <ion-icon size="large" name="close-circle-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
