<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="text-white">Newest Earners</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <span><ion-icon name="chevron-back-outline" class="pt-2"></ion-icon> &nbsp;back</span>
    </div>
    <div class="col-12 text-center my-5">
      <p>UNDER CONSTRUCTION <br> (Sorry)</p>
    </div>
    <div class="col-12">
      <h4><b>Javascript Developer</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ion-chip color="primary" class="rounded m-0">
        <ion-label color="white" class="m-0 p-0">recruitment</ion-label>
      </ion-chip>
    </div>
    <div class="col-6 text-right">
      <h4 class="m-0"><b>15 points</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center close-btn">
      <ion-icon size="large" name="close-circle-outline"></ion-icon>
    </div>
  </div>
</div>
</ion-content>
