<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-white">Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <span>
          <ion-icon name="chevron-back-outline" class="pt-2"></ion-icon> &nbsp;back
        </span>
      </div>
      <!-- Slider Start -->
      <div class="col-12">
        <ion-slides>
          <ion-slide>
            <div class="slide mx-2 p-2">
              <img
                src="https://images.unsplash.com/photo-1556905055-8f358a7a47b2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
                class="rounded" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide mx-2 p-2">
              <img
                src="https://images.unsplash.com/photo-1556905055-8f358a7a47b2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
                class="rounded" />
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      <!-- Slider end -->

      <!-- Description start -->
      <div class="col-12">
        <h3><b>LINKIT Hoodie</b></h3>
      </div>
      <div class="col-12 d-flex">
        <ion-chip slot="start" color="primary" class="rounded m-0">
          <ion-label color="white my-auto" class="m-0 p-0">swag</ion-label>
        </ion-chip>
        <h3 class="right-arrow my-auto"><b>5 points</b></h3>
      </div>
      <div class="col-12 my-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae commodi autem aliquid aperiam impedit
          necessitatibus.</p>
        
        <p>Availabe in sizes XS - XXL</p>
      </div>
      <div class="col-12">
        <ion-button class="mb-2" expand="block" fill="outline">Choose size</ion-button>
        <ion-button class="mb-2" expand="block" color="primary">Order now</ion-button>
      </div>
      <!-- Description end -->
    </div>
  </div>
</ion-content>