<ion-header>
  <ion-toolbar class="px-3">
    <ion-buttons slot="start">
      <ion-icon class="back-btn" name="arrow-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>Size</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      Clear
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-radio-group allow-empty-selection value="anchovies">
      <ion-item class="py-2">
        <ion-label class="title">UK 1</ion-label>
        <!-- <ion-label class="sub-title">All</ion-label> -->
        <ion-radio color="primary" value="UK1"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 2</ion-label>
        <ion-radio color="primary" value="UK2"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 2.5</ion-label>
        <ion-radio color="primary" value="UK 2.5"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 3</ion-label>
        <ion-radio color="primary" value="UK3"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 3.5</ion-label>
        <ion-radio color="primary" value="UK 3.5"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 4</ion-label>
        <ion-radio color="primary" value="UK4"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 4.5</ion-label>
        <ion-radio color="primary" value="UK 4.5"></ion-radio>
      </ion-item>
      <ion-item class="py-2">
        <ion-label class="title">UK 5</ion-label>
        <ion-radio color="primary" value="UK5"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <button class="btn btn-primary rounded-0 submit-btn py-auto">Apply</button>
</ion-content>